@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-sblue: hsl(218, 71%, 37%);
    --color-sred: hsl(358, 69%, 39%);
    --color-sblue-muted: hsl(218, 35%, 45%);
}

body {
    @apply font-[Inter];
}